- @users.each do |user|
  .ui.centered.card
    .content
      .header
        = link_to user.blog_title, root_path(user.identifier)
      .meta= user.identifier
      .blog_description= user.blog_description
