set :stage, :production
set :rails_env, 'production'
set :unicorn_rack_env, 'production'
set :branch, 'master'

server '192.168.0.100', port: 22, user: 'user', roles: %w[web app db], ssh_options: {
  keys: %w[~/.ssh/id_rsa],
  auth_methods: %w[publickey]
}

set :bundle_path, -> { shared_path.join('vendor/bundle') }
set :keep_releases, 3
set :puma_workers, 2
